body {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh; /* 100% of the viewport height */
	overflow: hidden;
}

a {
	text-decoration: none;
}

.tile {
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-border {
    border-right: 0.2em solid white;
}
.bottom-border {
    border-bottom: 0.2em solid white;
}

p#main-text {
	font-size: 40px;
	color: #FFFFFF;
	transform: translateY(20px);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}

p#last-text {
	font-size: 20px;
	color: #FFFFFF;
	transform: translateY(20px);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}

p#secondary-text {
	font-size: 20px;
	color: #FFFFFF;
	transform: translateY(20px);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}

.background-video {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	object-fit: cover;
}

#pages {
	z-index: -1;
	display: flex;
}

#ttt-board {
	display: grid;
	grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
	transform: translateY(20px);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
	margin: 20px;
}

#ttt-logo {
	color: #FFFFFF;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1s ease, transform 1s ease;
	margin: 20px;
}

#minesweeper-board {
	color: #FFFFFF;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1s ease, transform 1s ease;
	margin: 20px;
}

#superttt-logo {
	color: #FFFFFF;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1s ease, transform 1s ease;
	margin: 20px;
}